[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
cfenv = "*"
flask = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
structlog = "*"
flask-sqlalchemy = "*"
jsonschema = "*"
flask-httpauth = "*"
gunicorn = "*"
retrying = "*"
requests = "*"

[dev-packages]
tox = "*"
nose = "*"
coverage = "*"
"flake8" = "*"
flask-testing = "*"
pytest-cov = "*"
setuptools = "*"
