[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
certifi = "==2019.3.9"
cfenv = "*"
flask = "*"
flask-cors = "*"
werkzeug = "==0.15.4"
sqlalchemy-utils = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
structlog = "==19.1.0"
flask-sqlalchemy = "*"
jsonschema = "*"
flask-httpauth = "==3.3.0"
gunicorn = "==19.9.0"
retrying = "*"
requests = "*"

[dev-packages]
tox = "*"
nose = "*"
coverage = "==4.5.3"
flake8 = "*"
flask-testing = "*"
more-itertools = "==7.0.0"
pytest = "==4.5.0"
pytest-cov = "*"
setuptools = "*"
virtualenv = "==16.6.0"
zipp = "==0.5.1"